body,html{
    padding: 0px;
    margin: 0px;
    background-color:white;
    /* font-family: 'Roboto', sans-serif; */
    overflow-x: hidden;
}
/* p{
    font-size: 15px;
    font-weight: 100;
} */
#topvideo{
    position: relative;
    width: 100%;
    bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color:white
}
video{
    max-width: 100%;
    height: auto;
    border: none;
    object-fit: cover;
}

#mytext {
    font-size: 70px;
   font-family: 'Roboto', sans-serif;
    color: rgb(236, 56, 56);
    animation: riseFromBelow 1s ease-out forwards; /* Animation duration: 1 second */
    position: static;
    margin-top: 260px;
    left: 300px;
}

    #topnav {
        position: relative;
        top: 40px; 
        left: px;
        right: 150px; 
        display: flex; 
        flex-direction: row; 
        align-items: flex-end; 
        z-index: 1;
    }
    

#logo2{
    
    position: absolute;
    bottom: 88%;
    left: 8%;
    
    
}
    
    #topvideo{
        position: relative;
        width: 100%;
    }
    video{
        max-width: 100%;
        height: auto;
        border: none;
        object-fit: cover;
    }
    .transparent-button {
        background-color: transparent;
        border: none;
        color: rgb(248, 244, 244);
        font-size: 16px;
        cursor: pointer ; 
        padding: 20px;
        padding-left: 10px;
        margin-top: 30px;
        margin: 10px;
        position: relative;
        display: inline-block;
        overflow: hidden; 
    }
    
    .transparent-button:hover::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        animation: lineAnimation 0.6888s forwards; /* Animation to expand the line */
    }
    
    @keyframes lineAnimation {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    
    @keyframes riseFromBelow {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    #mytext {
        font-size: 70px;
        font-family: Algerian, serif;
        color: rgb(211, 209, 209);
        animation: riseFromBelow 1s ease-out forwards; /* Animation duration: 1 second */
        position: absolute;
        margin-top: 260px;
        margin-left: 120px;
    }
    #yourworld{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
    }
        #topnav {
            position: absolute;
            top: 40px; 
            left: px;
            right: 150px; 
            display: flex; 
            flex-direction: row; 
            align-items: flex-end; 
            z-index: 1;
        }
        
    #logo{
        position: absolute;
        left:200px;
        top: 30px;
        font-size: 30px;
        color: wheat;
    }
    #logo2{
        position: absolute;
        font-size: 15px;
        margin-top: 0.5px;
    }
    
    

#middiv{
    /* margin-top: -20px; */
    padding-top: 0px;
    background-color:white;
    background-image: url("./assects/Mountainbackground.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-top: 0px;
    padding-top: 0px;
}
#second{
    width: 30%;
font-size: medium;
margin-left: 19%;
margin-top: 130px;
}

#middivhalf{
    
    height: 50%;
    width: 100%;
}

#welcome{
 
    font-size: 50px;
     font-family: 'Roboto', sans-serif;
    font-weight: 300;
    bottom: 20px;
   
}
#world{
   padding-top: 120px;
    font-size: 30px;
      font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#welcome2{
    /* position: absolute; */
    color: black;
    line-height: 2.5;
    font-size: 150;
    top: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    /* border: 2px solid black; */
}


.c-locations-btns {
    display: flex;
    position: relative;
    z-index: 5
}

.c-locations-btn {
    --s: 7rem;
    background-color: #fff;
    border-radius: 60%;
    height: var(--s);
    position: relative;
    transition: background-color .75s cubic-bezier(.19, 1, .22, 1);
    width: var(--s);
    z-index: 3
}

.c-locations-btn:hover {
    background-color: #0e0d0d
}

.c-locations-btn:first-child {
    margin-right: 1.5rem
}

.c-locations-btn__inner {
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.c-locations-btn__inner.--next {
    transform: scaleX(-1)
}

.c-locations-btn__arr {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.c-locations-btn__arr svg {
    height: auto;
    transition: fill .75s cubic-bezier(.19, 1, .22, 1);
    width: 2.35rem
}

.c-locations-btn:hover .c-locations-btn__arr svg {
    fill: #fff
}

.c-locations-btn:after {
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .15);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.arrow{
    position: absolute;
    left: 80%;
    top: 250%;
}
#middivimg{
margin-left: 60px;
background-color: black;
left: 190%;
}

#imgid{
    position: absolute;
   width: 35%;
   height: 100%;
   left: 55%;
   top: 140%;
}
#sunrisediv2{
    position: absolute;
    width: 30%;
    height: 40%;
    left: 10%;
    top:200%;
}

#thirddiv{ 
    left: 20%;
    border: 2px;  
    width: 100%;
}
.back4{
    /* 
    border: solid yellow; */
    height: 70%;
    position: absolute;
    gap: 15%;
    display: grid;
    width: 99vw;
    margin-right: 3%;
    align-content: space-between;
    /* top: 20%; */
   
}
#containerid{
    position: absolute;
    width: 250%;
    height: 250%;
    
}
#paragraph{
    position: absolute;
    width: 30%;
     right: 60%;
    
}
#marqueeid{
    background-color: whitesmoke;
}

#fourthdiv{
    padding-top: 50px;
    width: 100%;
}
#lands{
    padding-top: 30px;
    position: static;
    font-size: larger;
    bottom: 3%;
}
#explore{
    margin-left: 400px;
     font-family: 'Roboto', sans-serif;
    width: 20%;
    font-weight: 20px;
}

#fourth{
    position: absolute;
    top: 350%;
    width: 100%;
    height: auto;
}
#del{position: relative;
    display: inline;
    margin-left: 15%;
    height: auto;

    
}

#paracontent{
    position: absolute;
display: inline;
margin-right: 40px;
}
#landsof{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
#discoveryland{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-left: 15%;
}
#contentt{
    position: relative;
    display: inline-block;
    width: 300px;
    line-height: 2.5;
    font-size: 10;
    top: 3px;
    font-weight: 150;
    margin-left: -40%;
    margin-top: 60px;
    font-weight: 100;

}
#earthvideo{
    position: static;
    margin-top: 60%;
    width: 60%;
    height: 450px;
    background-size: contain;       
    bottom: 10%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-clip: url('./assects/InShot_20240215_140129114.mp4')
}
#background-video{
    position: absolute;
    height: 1200px;
    top: 380%;
    left: 0%;
}
#sideearth {
    /* border: 2px solid  red; */
    position: absolute;
    /* background-color: aqua; */
    width: 700px;
    height: 600px;
    left: 55%;
    top: 395vh;
}

.left-side {
    position: absolute;
    background-image: url('./assects/homepageearth.png');
    background-size: cover;
    background-color: white;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
}

.right-side {
    position: absolute;
    background-image: url('https://discoverylandco.com/imager/images/14936/Screen-Shot-2023-08-29-at-2.32.54-PM_397186feb8bd51bb37bc24fc2b9b500f.png'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size: cover; 
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
}
#last {
    position: absolute;
    margin-top: 360px;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    /* border: 4px solid goldenrod; */
    background-color:white;
}


.column {
    flex: 1;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 18px;
}

#img1{
    background-image: url('./assects/01.jpeg');
    height: 100vh;
    width: 33.3vw;
    object-fit: cover;
}
#img2{
    background-image: url('./assects/02.jpeg');
    height: 100vh;
    width: 33.3vw;
    object-fit: cover;
}
#img3{
    background-image: url('./assects/03.jpeg');
    height: 100vh;
    width: 33.3vw;
    object-fit: cover;
}
#footer{
    position: absolute;
    top: 594vh;
    width: 100vw;
    height:75vh;
    background-color: black;
    color: white;

}
#lastlogo{
    position: relative;
    margin-left: 140px;
    margin-top: 150px;
}
#lastdiv{
    display: inline;
    width: 100%;
    background-color: black;
    margin-top: 230px;
    padding-top: 20px;
    margin-left: 150px;
    margin-bottom: 100px;
}
#outpost{
    background-color:black;
    display: inline;
    margin-left: 850px;
    font-size: 20px;
    color: white;
    margin-bottom: 3000px;

}
#scroll{
    position: absolute;
    margin-top: 30%;
    font-size: 200px;
}